
accelerate==1.11.0
av==16.0.1
datasets==4.3.0
einops==0.8.1
flash_attn==2.7.4.post1
loguru==0.7.3
matplotlib==3.10.7
numpy==2.1.2
pandas==2.3.3
Pillow==11.3.0
PyYAML==6.0.3
qwen-vl-utils==0.0.14
safetensors==0.6.2
scipy==1.15.3
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
transformers==4.53.1